[flake8]
max-complexity = 15
exclude = .git,
extend-ignore =
    # black: these conflict with black's formatting
    E501, E203, W503,
    # disable code complexity checks, we can add these back in later
    C901,
    # flake8-django: we allow CharField with null=True
    DJ01,
    # flake8-tidy-imports: allow relative imports
    I252,
    # flake8-sfs: allow .format() type string formatting
    SFS201, SFS202,
    # flake8-sfs: allow f-strings
    SFS301,
    # flake8-return: allow assigning a value to a variable and then returning it
    R504,
    # flake8-pytest-style
    PT018, PT009,
    # temporarily disabled:
    A003, F401
